#formulario {
	width: 500px;
	min-height: 350px;
	max-height: 550px;
	float: left;
	background: #F7F7F7;
}

#formulario #titulo {
	width: 500px;
	font-size: 18px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	margin: 10px 0 0 0;
	color: #333;
	text-align: center;
	float: left;
}

#formulario #form {
	width: 460px;
	float: left;
	margin: 20px 0 0 20px;
}

#formulario #form .txt1 {
	font-family: 'GothanMedium';
	font-size: 14px;
	color: #0D547F;
}

#formulario #form .campo1 {
	width: 350px;
	height: 30px;
	float: left;
	font-size: 14px;
	color: #333;
}

#formulario #form .campo2 {
	width: 350px;
	height: 80px;
	float: left;
	font-size: 14px;
	color: #333;
}