@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
	margin: 0;
	/*width: 1280px;*/
	background: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif
}

h1, h2, h3, p, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	text-align: justify;
}

img {
	border: 0;
	text-align: left;
}

#geral {
	margin: 0 auto;
	width: 100%;
	height: 1270px;
	background: #EEEEEE;
	background: url(images/1.jpg) no-repeat;
	background-repeat: no-repeat;
	background-size: 105%;
	/*background-size: 100% 100%;*/
}

/* TOPO */
header#topo {
	float: left;
	width: 66.72%;
	/*width:900px;*/
	/*height: 100px;*/
	height: 14.2%;
	/*background: url(images/topo_site.png) repeat-x;*/
	//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,ffffff+49,ffffff+61,e9e9e9+100 */
	background: #e9e9e9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #ffffff 49%, #ffffff 61%, #e9e9e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e9e9e9 0%,#ffffff 49%,#ffffff 61%,#e9e9e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e9e9e9 0%,#ffffff 49%,#ffffff 61%,#e9e9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 5px grey;
	margin-top: 20px;
	margin-left: 16.9%;
	position: absolute;
}

header#topo #topoCont {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	/*height: 100px;*/
}

header#topo #topoCont #logo {
	position: relative;
	/*width: 280px;*/
	/*height: 65px;*/
	width: 31.12%;
	height: 65%;
	float: left;
	margin: 2.23% 0 0 2.78%;
}

header#topo #topoCont #logo img{
	width: 100%;
	height: auto;
}

header#topo #topoCont #cxUser {
	position: relative;
	/*width: 130px;*/
	width: 13%;
	height: 40px;
	left: 95px;
	/*left: -100px;*/
	float: left;
	margin: 15px 25px 0 560px;
	/*position: absolute;
	width: 130px;
	height: 40px;
	left: 160px;
	float: left;
	margin: 15px 25px 0 560px;*/
}

header#topo #topoCont #cxUser .texto {
	height: 16px;
	font-size: 11px;
	font-family: Calibri;
	color: #666;
	margin-top: 10px;
}

header#topo #topoCont #cxUser .campo1 {
	width: 80px;
	height: 11px;
	font-size: 10px;
	color: #333;
}

header#topo #topoCont #cxSocial {
	position: absolute;
	width: 140px;
	height: 25px;
	left: 180px;
	top: 55px;
	float: left;
	margin: 10px 25px 0 550px;
}

header#topo #topoCont #cxSocial #btIcons {
	width: 23px;
	height: 22px;
	float: left;
	margin: 0 0 0 12px;
}

/*ADM - TOPO*/
header#topo #topoCont #cxAdm {
	width: 250px;
	float: left;
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	text-align: right;
	color: #000;
	margin: 45px 25px 0 440px;
}

header#topo #topoCont #cxAdm2 {
	width: 250px;
	float: left;
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	text-align: right;
	color: #000;
	margin: 5px 25px 0 440px;
}

header#topo #topoCont #cxAdm2 a {
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	color: #000;
}

/* Menu navegacao*/
nav#menu {
	width: 600px;
	height: 35px;
	float: left;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3cd00+0,80b100+100 */
	background: #a3cd00; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3cd00 0%, #80b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a3cd00 0%,#80b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a3cd00 0%,#80b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd00', endColorstr='#80b100',GradientType=0 ); /* IE6-9 */

	/*background: url(images/bg_menu.png) no-repeat;*/
}

nav#menu ul{
	list-style: none;
	padding-top: 5px;
	/*text-transform: uppercase;*/
	/*position: absolute;*/
	/*top: -10px;*/
	/*left: 200px;*/
	/*font-size: 14px;*/
}

nav#menu li{
	display: inline-block;
	width: 25%;
	height: 35px;
	float: left;
	margin: -10px 0 0 0;
}

/*nav#menu .btmenu1 a{*/
nav#menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

/*nav#menu .btmenu1 a:hover{*/
nav#menu li a:hover{
	text-decoration: underline;
	
}
/* /Menu navegacao*/

#geral #mainConteudo {
	float: left;
	width: 100%;
	margin-top: 115px;
}
/* Conteudo*/
#mainConteudo #conteudo {
	margin: 0 auto;
	width: 900px;
}
/* Coluna Direita*/
#mainConteudo #conteudo #home_file1 #hf1_Col1 {
	position: relative;
	width: 300px;
	/*height: 360px;*/
	/*margin: -10 auto 10px auto;*/
    margin-top: 5px; 
/* 	margin-bottom: 10px; */
	float: left;
}
/* Menu de Busca*/
#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus {
	width: 280px;
	height: 340px;
	float: left;
	background: #00d4fb; /* Old browsers */
	background: -moz-linear-gradient(top,  #00d4fb 25%, #0173ad 84%, #0173ad 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4fb', endColorstr='#0173ad',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label {
	width: 280px;
	float: left;
	margin: 5px 0 0 0;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	color: #FFF;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label table{
	height: 300px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .texto {
	font-size: 13px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .texto2 {
	font-size: 12px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .campo {
	width: 150px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo1.png) no-repeat;
	border: 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .campo2 {
	width: 80px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo2.png) no-repeat;
	border: 0;
}
/* /Menu de busca*/
/*#mainConteudo #conteudo #home_COL1 {
	width: 305px;
	float: left;
}*/
/*Divulgacao*/
#mainConteudo #conteudo #home_file1 #hf1_Col1 #cxParceiros {
	/*clear: both;*/
	/*position: fixed;*/
	width: 260px;
	float: left;
	margin: 50px 0 0 0;
	background-color: #fff;
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;	
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #cxParceiros #cxTit {
	width: 255px;
	float: left;
	font-size: 18px;
	font-family: Calibri;
	color: #1993CD;
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: #1993CD;
	/*background: url(images/bg_topParcNew.png) no-repeat;*/
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #cxParceiros #cxLog {
	width: 285px;
	float: left;
	margin: 20px 0 0 0;
}
/* /Divulgacao*/
/* /Coluna direita*/
/* Coluna esquerda*/
#mainConteudo #conteudo #home_file1 #hf1_Col2 {
	width: 600px;
	/*height: 340px;*/
	float: left;
	/*margin-top: -10px;*/
}


/*Banner*/
#mainConteudo #conteudo #home_file1 #hf1_Col2 #bannerImg {
	width: 600px;
	height: 290px;
	float: left;
	background-color: #fff;
	margin: 15px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #bannerImg #imgRot {
	width: 600px;
	height: 280px;
	float: left;
	margin: 5px 0 0 4px;
}
/* /Banner*/

/* Descricao*/
#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem {
	width: 580px;
	float: left;
	/*margin: 10px 0 0 0;*/
	background-color: #fff;
	margin: 50px auto 0px auto;
	/* box-shadow: deslocamentoLateral deslocamento vertical espalhamento cor*/
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Tit {
	width: 570px;
	height: 20px;
	float: left;
	margin: 0 0 0 0;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc {
	width: 570px;
	float: left;
	margin: 10px 0 0 0;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum{
	margin: 1px 1px 1px 1px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum p.quemSomosPage {
	margin: 10px 0 10px 0;
	padding: 0 5px 0 0;
	text-indent: 50px;
}

/*Figura*/
#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum figure.fotoLegenda{
	position: relative;
	width: 333px;
	height: 250px;
	margin-left: 140px;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum figure.fotoLegenda img{
	width: 100%;
	height :100%;
}

/*#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum figure.fotoLegenda img.textWrap{
	float: right;
	margin: 10px;
}*/

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum figure.fotoLegenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contQuem #Desc #lipsum figure.fotoLegenda:hover figcaption{
	opacity: 1;
}

/* Noticias*/
#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm {
	width: 580px;
	float: left;
	/*margin: 10px 0 0 0;*/
	background-color: #fff;
	margin: 50px auto 0px auto;
	/* box-shadow: deslocamentoLateral deslocamento vertical espalhamento cor*/
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #Tit {
	width: 575px;
	float: left;
	margin: 0 0 0 0;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont1 {
	width: 575px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont1 #tit {
	width: 575px;
	float: left;
	font-size: 22px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	margin: 0 0 0 10px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont1 #desc {
	width: 570px;
	float: left;
	margin: 5px 0 0 10px;
	font-size: 13px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 {
	width: 640px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 {
	width: 320px;
	height: 130px;
	float: left;
	margin: 0 10px 15px 0;
	/*-webkit-transition: all .3s ease-in;*/
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1:hover{
	/*-webkit-transform: scale(1.5);*/
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 #imgFT {
	width: 160px;
	height: 120px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 #imgFT:hover {
	
}



#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 #inf_Subti{
	width: 150px;
	float: left;
	margin: 5px 0 0 5px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 #inf_Text {
	width: 150px;
	float: left;
	margin: 5px 0 0 5px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #contHm #cxCont2 #hmInfo1 #inf_Btmais{
	width: 25px;
	float: left;
	margin: 5px 0 0 120px;
}
/* /Noticias*/

/* /Figura*/
/* /Descricao*/
/* /Coluna esquerda*/
/* Bloco Inferior*/
#mainConteudo #conteudo #home_file2 {
	width: auto;
	float: left;
	margin-top: 30px;
}

/* COLUNA Esquerda */
#mainConteudo #conteudo #home_file2 #hf2_Col1 {
	width: 730px;
	float: left;
}

/* CX - Noticias */
#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo {
	width: 350px;
	height: 195px;
	float: left;
	/*background: url(images/bg_cont_home.png) no-repeat;*/
	background-color: #fff;
	margin: 0 15px 15px 0;
	padding-top: 15px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 1px grey;
	-webkit-transition: all .3s ease-in;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo:hover{
	-webkit-transform: scale(1.1);
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .imgFT {
	width: 190px;
	height: 165px;
	float: left;
	margin: 7px 0 0 5px;
}



#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .imgFT img{
	width: 100%;
	height: 100%;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .inf_Tit {
	width: 130px;
	float: left;
	margin: 10px 0 0 15px;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .inf_Subti {
	width: 130px;
	float: left;
	margin: 20px 0 0 15px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .inf_Text {
	width: 130px;
	float: left;
	margin: 5px 0 0 15px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 .hmInfo .inf_Btmais {
	width: 25px;
	float: left;
	margin: 20px 0 0 120px;
}
/* /CX - Noticias*/
/* /Coluna Esquerda*/
/* Coluna Direita*/

#mainConteudo #conteudo #home_file2 #hf2_Col2 {
	width: 170px;
	height: 340px;
	float: left;
}

#mainConteudo #conteudo #home_file2 #hf2_Col2 #colAdvertising #bannerPQ {
	/*width: 170px;*/
	/*height: 105px;*/
	width: 180px;
	max-height: 160px;
	float: left;
	margin: 0 0 5px 0;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #fff;
	-webkit-transition: all .3s ease-in;
}

#mainConteudo #conteudo #home_file2 #hf2_Col2 #colAdvertising #bannerPQ:hover{
	-webkit-transform: scale(1.5);
} 

#mainConteudo #conteudo #home_file2 #hf2_Col2 #colAdvertising #bannerPQ #imgB {
	width: 157px;
	height: 95px;
	position: relative;
	/*width: 180px;
	height: 150px;*/
	float: left;
	margin: 4px 0 0 7px;
}

#mainConteudo #conteudo #home_file2 #hf2_Col2 #colAdvertising #bannerPQ #imgB:hover{
} 

#mainConteudo #conteudo #home_file2 #hf2_Col2 #colAdvertising #bannerPQ #imgB img{
	/*width: 100%;*/
	/*height: 100%;*/
	position: absolute;  
    overflow: hidden;  
    top: 50%;  
    left: 50%;  
    -webkit-transform: translate(-50%,-50%);  
    -moz-transform: translate(-50%,-50%);  
    -ms-transform: translate(-50%,-50%);  
    -o-transform: translate(-50%,-50%);  
    transform: translate(-50%,-50%);  
	max-width: 157px;
	max-height: 95px;
	width: auto;
	height: auto;
} 


/* /Coluna Direita*/
/* Coluna Resultado*/
#mainConteudo #conteudo #home_file2 #Col_Busca {
	width: 418px;
	padding-left: 1px;
	margin-right: 10px;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult {
	width: 205px;
	height: 150px;
	float: left;
	margin: 10px 0 0 1px;
	background-color: #fff;
	border-color: #cecece;
	border-style: solid;
	border-width: thin;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .3s ease-in;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult:hover{
	-webkit-transform: scale(1.5);
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxTit {
	width: 200px;
	height: 20px;
	float: left;
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: #0173ab;
	/*background: url(images/bgTopoResult.png) no-repeat;*/
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBgImg {
	width: 95px;
	height: 80px;
	padding-top: 15px;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*background: url(images/bgFTbusca.png) no-repeat;*/
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBgImg #imFT {
	width: 85px;
	height: 70px;
	float: left;
	margin: 5px;
	
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBgImg #imFT img{
	width: 100%;
	height: 100%;	
	/*-webkit-transition: all .3s ease-in;*/
}

/*#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBgImg #imFT img:hover{
	-webkit-transform: scale(4);
}*/

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBgImg #imFT img.tamanho-foto{
	width: 100%;
	height: 100%;	
}


#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxPreco {
	width: 90px;
	height: 26px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
	margin: 10px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxInfo {
	width: 100px;
	height: 20px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
	margin: 20px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxDesc {
	width: 100px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	margin: 5px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #Col_Busca #cxResult #cxBtmais {
	width: 25px;
	height: 22px;
	float: left;
	margin: 5px 0 0 80px;
}
/* /Coluna Resultafo*/

/* Coluna de Serviços */
#mainConteudo #conteudo #home_file2 #contServ {
	width: 600px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file2 #contServ #Tit {
	width: 600px;
	height: 20px;
	float: left;
	margin: 0 0 0 0;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #contServ #cxBusca {
	width: 600px;
	height: 20px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file2 #contServ #cxBusca .cxLetra {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	background: #FFF;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file2 #contServ #cxBusca .cxLetra a {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	background: #FFF;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file2 #contServ #cxDesc {
	width: 665px;
	float: left;
	margin: 20px 0 0 0;
}

#mainConteudo #conteudo #home_file2 #contServ #cxDesc #Tit {
	width: 665px;
	height: 20px;
	float: left;
	margin: 0 0 5px 0;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
}

#mainConteudo #conteudo #home_file2 #contServ #cxDesc #Text {
	width: 665px;
	float: left;
	margin: 0 0 10px 0;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
}
/* /Coluna de Serviços */
/* /Bloco Inferior*/
/* Bloco Paginação*/
#mainConteudo #conteudo #home_file3 {
	width: 900px;
	height: 40px;
	float: left;
}

#mainConteudo #conteudo #home_file3 #hf_pag {
	width: 400px;
	height: 15px;
	float: left;
	text-align: center;
	margin: 5px 0 0 300px;
}

#mainConteudo #conteudo #home_file3 #hf_pag a {
	text-align: center;
	text-decoration: none;
}

#mainConteudo #conteudo #home_file3 #hf_pag a:hover{
	text-decoration: underline;
}
/* /Bloco Paginação*/

/* Bloco View Imovel*/
#mainConteudo #conteudo #home_file4 {
	width: 600px;
	float: left;
	margin-top: 30px;
}
/* /Bloco View Imovel*/

/* Conteudo de imoveisView */
#mainConteudo #conteudo #home_file4 #contView {
	/*width: 665px;*/
	width: 600px;
	float: left;
	margin: 10px 0 0 0;
	
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 {
	width: 266px;
	float: left;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxTit {
	/*width: 330px;*/
	width: 265px;
	height: 20px;
	float: left;
	margin: 0 0 10px 0;
	font-size: 15px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxTit2 {
	/*width: 325px;*/
	width: 260px;
	height: 15px;
	float: left;
	margin: 10px 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxDesc {
	/*width: 325px;*/
	width: 260px;
	float: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxTxt1 {
	width: 100px;
	height: 15px;
	float: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	background: #CCC;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxTxt2 {
	/*width: 220px;*/
	width: 160px;
	height: 15px;
	float: left;
	margin: 0 0 5px 5px;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxTxt3 {
	width: 105px;
	height: 15px;
	float: left;
	margin: 0 5px 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	background: #FFF;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol1 #cxImob {
	width: 120px;
	height: 65px;
	float: left;
	margin: 0 5px 5px 0;
	background: #FFF;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 {
	width: 320px;
	float: left;
	margin: 0 0 0 10px;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 #cxFt {
	width: 160px;
	height: 100px;
	float: left;
	background: #CCC;
	margin: 0 2px 5px 0;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 #cxFt #imgFt {
	width: 150px;
	height: 90px;
	float: left;
	background: #FFF;
	margin: 5px;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 #cxVideo {
	width: 310px;
	height: 200px;
	float: left;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 #cxMapa {
	width: 310px;
	height: 200px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 #cxValor {
	width: 310px;
	height: 50px;
	float: left;
	background: #0173AD;
	margin: 5px 0 0 0;
	font-size: 14px;
	font-family: Calibri;
	color: #FFF;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file4 #contView #vwCol2 .cxBts {
	width: 310px;
	height: 20px;
	float: left;
	margin: 5px 0 0 0;
}
/* /Conteudo de imoveisView */

/* /Conteudo*/



footer#footer {
	/*clear: both;*/
	float: left;
	width: 90%;
	/*height: 65px;*/
	height: 6%;
	/*margin-top: 905px;*/
	/*background: url(images/bg_rodape_site.png) repeat-x;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,e9e9e9+18,ffffff+62,ffffff+62,ffffff+100 */
	background: #e9e9e9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #e9e9e9 18%, #ffffff 62%, #ffffff 62%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e9e9e9 0%,#e9e9e9 18%,#ffffff 62%,#ffffff 62%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e9e9e9 0%,#e9e9e9 18%,#ffffff 62%,#ffffff 62%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px -2px 1px grey;
	margin-top: 10px; 
	margin-left: 5%;
	/*position:absolute;*/
	
}

footer#footer #conteudoFooter {
	margin: 0 auto;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-left: 5px;
}

footer#footer #conteudoFooter #ass {
	width: 500px;
	float: left;
	margin: 0 0 0 260px;
	text-align: center;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

footer#footer #conteudoFooter #dev h4 {
	width: 500px;
	float: left;
	margin: 0 0 0 260px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-family: Calibri;
	color: #333;
}

footer#footer #conteudoFooter #dev a {
	text-decoration: none;
}

footer#footer #conteudoFooter #dev a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 320px){

}