@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
	margin: 0;
	background: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif
}

h1, h2, h3, p, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	text-align: justify;
}

img {
	border: 0;
	text-align: left;
}

#geral {
	margin: 0 auto;
	width: 900px;
	height: 970px;
	background: #EEEEEE;
}

/* TOPO */
#geral #topo {
	float: left;
	width: 100%;
	height: 100px;
	background: url(images/topo_site.png) repeat-x;
	margin-top: 20px;
	position: absolute;
}

#topo #topoCont {
	margin: 0 auto;
	width: 1020px;
	height: 100px;
}

#topo #topoCont #logo {
	width: 280px;
	height: 65px;
	float: left;
	margin: 20px 0 0 25px;
}

#topo #topoCont #cxUser {
	position: relative;
	width: 130px;
	height: 40px;
	left: -100px;
	float: left;
	margin: 15px 25px 0 560px;
}

#topo #topoCont #cxUser .texto {
	height: 16px;
	font-size: 11px;
	font-family: Calibri;
	color: #666;
	margin-top: 10px;
}

#topo #topoCont #cxUser .campo1 {
	width: 80px;
	height: 11px;
	font-size: 10px;
	color: #333;
}

#topo #topoCont #cxSocial {
	position: relative;
	width: 140px;
	height: 25px;
	left: -85px;
	/*top: 60px;*/
	float: left;
	margin: 10px 25px 0 550px;
}

#topo #topoCont #cxSocial #btIcons {
	width: 23px;
	height: 22px;
	float: left;
	margin: 0 0 0 12px;
}

/*ADM - TOPO*/
#topo #topoCont #cxAdm {
	width: 250px;
	float: left;
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	text-align: right;
	color: #000;
	margin: 45px 25px 0 440px;
}

#topo #topoCont #cxAdm2 {
	width: 250px;
	float: left;
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	text-align: right;
	color: #000;
	margin: 5px 25px 0 440px;
}

#topo #topoCont #cxAdm2 a {
	font-size: 13px;
	font-family: Calibri;
	font-weight: bold;
	color: #000;
}

/* CONTEUDO */
#geral #mainConteudo {
	float: left;
	width: 100%;
	margin-top: 115px;
}

#mainConteudo #conteudo {
	margin: 0 auto;
	width: 970px;
}

/* ADM CONT */
#geral #mainConteudo #conteudo #adm_COL1 {
	width: 200px;
	margin: 0 0 10px 0;
	float: left;
	background: #FFF;
}

#geral #mainConteudo #conteudo #adm_COL1 #menu {
	width: 180px;
	float: left;
}

#geral #mainConteudo #conteudo #adm_COL1 #menu #cxTit {
	width: 180px;
	float: left;
	margin: 10px 0 0 0;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	color: #000;
}

#geral #mainConteudo #conteudo #adm_COL1 #menu #cxDes {
	width: 180px;
	float: left;
	margin: 5px 0 0 0;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL1 #menu #cxDes a {
	color: #333;
	text-decoration: none;
}

nav#menu {
	width: 600px;
	height: 35px;
	float: left;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3cd00+0,80b100+100 */
	background: #a3cd00; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3cd00 0%, #80b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a3cd00 0%,#80b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a3cd00 0%,#80b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd00', endColorstr='#80b100',GradientType=0 ); /* IE6-9 */

	/*background: url(images/bg_menu.png) no-repeat;*/
}

nav#menu ul{
	list-style: none;
	padding-top: 5px;
	/*text-transform: uppercase;*/
	/*position: absolute;*/
	/*top: -10px;*/
	/*left: 200px;*/
	/*font-size: 14px;*/
}

nav#menu li{
	display: inline-block;
	width: 25%;
	height: 35px;
	float: left;
	margin: -10px 0 0 0;
	text-align: center;
}

/*nav#menu .btmenu1 a{*/
nav#menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

/*nav#menu .btmenu1 a:hover{*/
nav#menu li a:hover{
	text-decoration: underline;
	
}

#geral #mainConteudo #conteudo #adm_COL2 {
	width: 760px;
	float: left;
	margin: 0 0 0 10px;
	background: #FFF;
}

#geral #mainConteudo #conteudo #adm_COL2 #Tit {
	width: 740px;
	float: left;
	font-size: 26px;
	font-family: Calibri;
	font-weight: bold;
	color: #F60;
	margin: 10px 0 0 10px;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTit {
	width: 740px;
	float: left;
	font-size: 18px;
	font-family: Calibri;
	font-weight: bold;
	color: #F60;
	margin: 10px 0 0 10px;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTex {
	width: 740px;
	float: left;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
	margin: 5px 0 0 10px;
}

#geral #mainConteudo #conteudo #adm_COL2 #imobiliaria{
}

#geral #mainConteudo #conteudo #adm_COL2 #imobiliaria input.checkbox{
}

#geral #mainConteudo #conteudo #adm_COL2 #imobiliaria input.textfield{
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTex .campo1 {
	width: 400px;
	height: 20px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTex .campo2 {
	width: 400px;
	height: 80px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTex .campo3 {
	width: 200px;
	height: 20px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxTex .campo4 {
	width: 100px;
	height: 20px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

/* ADM LIST IMÓVEIS */
#geral #mainConteudo #conteudo #adm_COL2 #cxInfo {
	width: 740px;
	float: left;
	margin: 10px 10px 0 10px;
	background: #FFF;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxInfo #fotoInfo {
	width: 60px;
	height: 60px;
	float: left;
	margin: 10px 0 10px 0;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxInfo #txtInfo {
	width: 500px;
	font-size: 13px;
	font-family: Calibri;
	color: #333;
	float: left;
	margin: 8px 0 0 5px;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxBusca {
	width: 740px;
	float: left;
	margin: 10px 10px 0 10px;
	background: #FFF;
	font-size: 13px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxBusca .campo1 {
	width: 400px;
	height: 20px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxBusca .campo2 {
	width: 400px;
	height: 100px;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxLisImov {
	width: 740px;
	float: left;
	margin: 10px 10px 0 10px;
	background: #FFF;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxLisImov #cxCod {
	width: 120px;
	height: 50px;
	float: left;
	text-align: center;
	padding-top: 20px;
	background: #CCC;
	font-size: 25px;
	font-family: Calibri;
	color: #333;
	border: 1px solid #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxLisImov #cxCod a {
	width: 120px;
	height: 450px;
	float: left;
	text-align: center;
	padding-top: 25px;
	background: #666;
	font-size: 25px;
	font-family: Calibri;
	color: #900;
	border: 1px solid #333;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxLisImov #cxCod a:hover {
	width: 120px;
	height: 45px;
	float: left;
	text-align: center;
	padding-top: 25px;
	background: #666;
	font-size: 25px;
	font-family: Calibri;
	color: #900;
	border: 1px solid #333;
	text-decoration: none;
}

#geral #mainConteudo #conteudo #adm_COL2 #cxLisImov #cxDesc {
	width: 610px;
	height: 150px;
	float: left;
	font-size: 16px;
	font-family: Calibri;
	color: #333;
	border: 1px solid #333;
}

/* ADM VIEW IMÓVEIS */
#geral #mainConteudo #conteudo #adm_COL2 #cxviewEdit {
	width: 740px;
	float: left;
	text-align: right;
	margin: 10px 10px 0 10px;
	background: #FFF;
}

/* CONTEUDO FILE 1 (HOME)*/
#mainConteudo #conteudo #home_file1 {
	width: 970px;
	height: 370px;
	float: left;
}
/* COLUNA 1 */
#mainConteudo #conteudo #home_file1 #hf1_Col1 {
	width: 305px;
	height: 360px;
	float: left;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus {
	width: 280px;
	height: 340px;
	float: left;
	background: #00d4fb; /* Old browsers */
	background: -moz-linear-gradient(top,  #00d4fb 25%, #0173ad 84%, #0173ad 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4fb', endColorstr='#0173ad',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label {
	width: 280px;
	float: left;
	margin: 5px 0 0 0;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	color: #FFF;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .texto {
	font-size: 13px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .texto2 {
	font-size: 12px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .campo {
	width: 150px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo1.png) no-repeat;
	border: 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuBus #label .campo2 {
	width: 80px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo2.png) no-repeat;
	border: 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuDown {
	width: 280px;
	height: 20px;
	float: left;
	background: url(images/bgSub.png) no-repeat;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuDown #cx1 {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuDown #cx1 a {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#mainConteudo #conteudo #home_file1 #hf1_Col1 #menuDown #cx1 a:hover {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

/* COLUNA 2 */
#mainConteudo #conteudo #home_file1 #hf1_Col2 {
	width: 665px;
	height: 340px;
	float: left;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu {
	width: 665px;
	height: 35px;
	float: left;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3cd00+0,80b100+100 */
	background: #a3cd00; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3cd00 0%, #80b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a3cd00 0%,#80b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a3cd00 0%,#80b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd00', endColorstr='#80b100',GradientType=0 ); /* IE6-9 */

	/*background: url(images/bg_menu.png) no-repeat;*/
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu .btmenu1 {
	width: 110px;
	height: 14px;
	float: left;
	margin: 9px 0 0 25px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu .btmenu1 a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu .btmenu1 a:hover{
	text-decoration: underline;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu2 {
	width: 80px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu2 a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu2 a:hover{
	text-decoration: underline;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu3 {
	width: 90px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu3 a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu3 a:hover{
	text-decoration: underline;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu4 {
	width: 65px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu4 a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu4 a:hover{
	text-decoration: underline;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu5 {
	width: 180px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu5 a{
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #menu #btmenu5 a:hover{
	text-decoration: underline;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #bannerImg {
	width: 665px;
	height: 290px;
	float: left;
	background: url(images/bg_banners_home.png) no-repeat;
	margin: 15px 0 0 0;
}

#mainConteudo #conteudo #home_file1 #hf1_Col2 #bannerImg #imgRot {
	width: 657px;
	height: 280px;
	float: left;
	margin: 5px 0 0 4px;
}

/* CONTEUDO FILE 2 (HOME) */
#mainConteudo #conteudo #home_file2 {
	width: 970px;
	float: left;
}

/*COLUNA 1 */
#mainConteudo #conteudo #home_file2 #hf2_Col1 {
	width: 800px;
	float: left;
}

/* CX 1 - Noticias */
#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 {
	width: 385px;
	height: 210px;
	float: left;
	background: url(images/bg_cont_home.png) no-repeat;
	margin: 0 15px 15px 0;
	-webkit-transition: all .3s ease-in;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1:hover{
	-webkit-transform: scale(1.1);
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 #imgFT {
	width: 225px;
	height: 195px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 #inf_Tit {
	width: 130px;
	float: left;
	margin: 10px 0 0 15px;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 #inf_Subti {
	width: 130px;
	float: left;
	margin: 20px 0 0 15px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 #inf_Text {
	width: 130px;
	float: left;
	margin: 5px 0 0 15px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo1 #inf_Btmais {
	width: 25px;
	float: left;
	margin: 20px 0 0 120px;
}

/* CX 2 - Decoracao */
#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 {
	width: 385px;
	height: 210px;
	float: left;
	background: url(images/bg_cont_home.png) no-repeat;
	margin: 0 15px 15px 0;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 #imgFT {
	width: 225px;
	height: 195px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 #inf_Tit {
	width: 130px;
	float: left;
	margin: 10px 0 0 15px;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 #inf_Subti {
	width: 130px;
	float: left;
	margin: 20px 0 0 15px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 #inf_Text {
	width: 130px;
	float: left;
	margin: 5px 0 0 15px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo2 #inf_Btmais {
	width: 25px;
	float: left;
	margin: 20px 0 0 120px;
}

/* CX 3 - Tecnologia */
#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 {
	width: 385px;
	height: 210px;
	float: left;
	background: url(images/bg_cont_home.png) no-repeat;
	margin: 0 15px 15px 0;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 #imgFT {
	width: 225px;
	height: 195px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 #inf_Tit {
	width: 130px;
	float: left;
	margin: 10px 0 0 15px;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 #inf_Subti {
	width: 130px;
	float: left;
	margin: 20px 0 0 15px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 #inf_Text {
	width: 130px;
	float: left;
	margin: 5px 0 0 15px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo3 #inf_Btmais {
	width: 25px;
	float: left;
	margin: 20px 0 0 120px;
}

/* CX 4 - Dicas */
#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 {
	width: 385px;
	height: 210px;
	float: left;
	background: url(images/bg_cont_home.png) no-repeat;
	margin: 0 15px 15px 0;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 #imgFT {
	width: 225px;
	height: 195px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 #inf_Tit {
	width: 130px;
	float: left;
	margin: 10px 0 0 15px;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 #inf_Subti {
	width: 130px;
	float: left;
	margin: 20px 0 0 15px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 #inf_Text {
	width: 130px;
	float: left;
	margin: 5px 0 0 15px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_file2 #hf2_Col1 #hmInfo4 #inf_Btmais {
	width: 25px;
	float: left;
	margin: 20px 0 0 120px;
}

/* COLUNA 2 */
#mainConteudo #conteudo #home_file2 #hf2_Col2 {
	width: 170px;
	height: 340px;
	float: left;
}

#mainConteudo #conteudo #home_file2 #hf2_Col2 #bannerPQ {
	width: 170px;
	height: 105px;
	float: left;
	margin: 0 0 5px 0;
	background: url(images/bg_banner_pq.png) no-repeat;
}

#mainConteudo #conteudo #home_file2 #hf2_Col2 #bannerPQ #imgB {
	width: 157px;
	height: 95px;
	float: left;
	margin: 4px 0 0 7px;
}

/* CONTEUDO FILE 3 (HOME) */
#mainConteudo #conteudo #home_file3 {
	width: 970px;
	height: 40px;
	float: left;
}

#mainConteudo #conteudo #home_file3 #hf_pag {
	width: 200px;
	height: 15px;
	float: left;
	text-align: center;
	margin: 5px 0 0 385px;
}

#mainConteudo #conteudo #home_file3 #hf_pag a {
	text-align: center;
}

/* CONTEUDO COL 1 (INTERNAS)*/
#mainConteudo #conteudo #home_COL1 {
	width: 305px;
	float: left;
}

#mainConteudo #conteudo #home_COL1 #menuBus {
	width: 280px;
	height: 340px;
	float: left;
	background: #00d4fb; /* Old browsers */
	background: -moz-linear-gradient(top,  #00d4fb 25%, #0173ad 84%, #0173ad 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #00d4fb 25%,#0173ad 84%,#0173ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4fb', endColorstr='#0173ad',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

#mainConteudo #conteudo #home_COL1 #menuBus #label {
	width: 280px;
	float: left;
	margin: 5px 0 0 0;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	color: #FFF;
}

#mainConteudo #conteudo #home_COL1 #menuBus #label .texto {
	font-size: 13px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_COL1 #menuBus #label .texto2 {
	font-size: 12px;
	font-family: Calibri;
	color: #FFF;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_COL1 #menuBus #label .campo {
	width: 150px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo1.png) no-repeat;
	border: 0;
}

#mainConteudo #conteudo #home_COL1 #menuBus #label .campo2 {
	width: 80px;
	height: 18px;
	font-size: 12px;
	color: #333;
	background: url(images/bg_campo2.png) no-repeat;
	border: 0;
}

#mainConteudo #conteudo #home_COL1 #menuDown {
	width: 280px;
	height: 20px;
	float: left;
	background: url(images/bgSub.png) no-repeat;
}

#mainConteudo #conteudo #home_COL1 #menuDown #cx1 {
	width: 280px;
	float: left;
}

#mainConteudo #conteudo #home_COL1 #menuDown #cx1 {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL1 #menuDown #cx1 a {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL1 #menuDown #cx1 a:hover {
	width: 280px;
	float: left;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL1 #cxParceiros {
	width: 260px;
	float: left;
	margin: 20px 0 0 0;
	background-color: #fff;
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_COL1 #cxParceiros #cxTit {
	width: 285px;
	float: left;
	font-size: 18px;
	font-family: Calibri;
	color: #1993CD;
	background: url(images/bg_topParcNew.png) no-repeat;
}

#mainConteudo #conteudo #home_COL1 #cxParceiros #cxLog {
	width: 285px;
	float: left;
	margin: 20px 0 0 0;
}

/* CONTEUDO COL 2 (INTERNAS)*/
#mainConteudo #conteudo #home_COL2 {
	width: 665px;
	height: 100%;
	float: left;
}

#mainConteudo #conteudo #home_COL2 #menu {
	width: 665px;
	height: 35px;
	float: left;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3cd00+0,80b100+100 */
	background: #a3cd00; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3cd00 0%, #80b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a3cd00 0%,#80b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a3cd00 0%,#80b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd00', endColorstr='#80b100',GradientType=0 ); /* IE6-9 */

	/*background: url(images/bg_menu.png) no-repeat;*/
}

#mainConteudo #conteudo #home_COL2 #menu #btmenu1 {
	width: 110px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
	color: #fff;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL2 #menu #btmenu2 {
	width: 80px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
	color: #fff;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL2 #menu #btmenu3 {
	width: 90px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
	color: #fff;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL2 #menu #btmenu4 {
	width: 65px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
	color: #fff;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL2 #menu #btmenu5 {
	width: 180px;
	height: 14px;
	float: left;
	margin: 10px 0 0 25px;
	color: #fff;
	text-decoration: none;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca {
	width: 485px;
	padding-left: 2px;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult {
	width: 235px;
	height: 150px;
	float: left;
	margin: 10px 0 0 2px;
	background-color: #fff;
	/*border-color: #cecece;*/
	/*border-style: solid;*/
	/*border-width: thin;*/
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .3s ease-in;
}
#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult:hover{
	-webkit-transform: scale(1.2);
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxTit {
	width: 230px;
	height: 20px;
	float: left;
	background: url(images/bgTopoResult.png) no-repeat;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxBgImg {
	width: 125px;
	height: 105px;
	float: left;
	background: url(images/bgFTbusca.png) no-repeat;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxBgImg #imFT {
	width: 115px;
	height: 95px;
	float: left;
	margin: 5px;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxPreco {
	width: 90px;
	height: 26px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
	margin: 10px 0 0 5px;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxInfo {
	width: 100px;
	height: 20px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	font-weight: bold;
	margin: 20px 0 0 5px;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxDesc {
	width: 100px;
	float: left;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
	margin: 5px 0 0 5px;
}

#mainConteudo #conteudo #home_COL2 #Col_Busca #cxResult #cxBtmais {
	width: 25px;
	height: 22px;
	float: left;
	margin: 5px 0 0 80px;
}

#mainConteudo #conteudo #home_COL2 #Col_Ban {
	width: 170px;
	float: left;
}

#mainConteudo #conteudo #home_COL2 #Col_Ban #bannerPQ {
	width: 170px;
	height: 105px;
	float: left;
	margin: 0 0 5px 0;
	background: url(images/bg_banner_pq.png) no-repeat;
}

#mainConteudo #conteudo #home_COL2 #Col_Ban #bannerPQ #imgB {
	width: 157px;
	height: 95px;
	float: left;
	margin: 4px 0 0 7px;
}

/* CONTEUDO VIEW IMÓVEIS (INTERNAS) */
#mainConteudo #conteudo #home_COL2 #contView {
	width: 665px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 {
	width: 265px;
	/*width: 330px;*/
	float: left;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxTit {
	width: 260px;
	/*width: 330px;*/
	height: 20px;
	float: left;
	margin: 0 0 10px 0;
	font-size: 15px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxTit2 {
	width: 260px;
	/*width: 325px;*/
	height: 15px;
	float: left;
	margin: 10px 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxDesc {
	width: 260px;
	/*width: 325px;*/
	float: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxTxt1 {
	width: 100px;
	height: 15px;
	float: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	background: #CCC;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxTxt2 {
	width: 160px;
	/*width: 220px;*/
	height: 15px;
	float: left;
	margin: 0 0 5px 5px;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	background: #FFF;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxTxt3 {
	width: 105px;
	height: 15px;
	float: left;
	margin: 0 5px 5px 0;
	font-size: 13px;
	font-family: Calibri;
	color: #000;
	background: #FFF;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol1 #cxImob {
	width: 120px;
	height: 65px;
	float: left;
	margin: 0 5px 5px 0;
	background: #FFF;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 {
	/*width: 325px;*/
	width: 320px;
	float: left;
	margin: 0 0 0 10px;;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxFt {
	width: 160px;
	height: 100px;
	float: left;
	background: #CCC;
	margin: 0 2px 5px 0;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxFt #imgFt {
	width: 150px;
	height: 90px;
	float: left;
	background: #FFF;
	margin: 5px;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxVideo {
	width: 310px;
	/*width: 325px;*/
	height: 200px;
	float: left;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxMapa {
	width: 310px;
	/*width: 325px;*/
	height: 200px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxValor {
	width: 310px;
	/*width: 325px;*/
	height: 50px;
	float: left;
	background: #0173AD;
	margin: 5px 0 0 0;
	font-size: 14px;
	font-family: Calibri;
	color: #FFF;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #contView #vwCol2 #cxBts {
	width: 310px;
	/*width: 325px;*/
	height: 20px;
	float: left;
	margin: 5px 0 0 0;
}

/* CONTEUDO SERVIÇOS (INTERNAS) */
#mainConteudo #conteudo #home_COL2 #contServ {
	width: 665px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contServ #Tit {
	width: 665px;
	height: 20px;
	float: left;
	margin: 0 0 0 0;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxBusca {
	width: 665px;
	height: 20px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxBusca #cxLetra {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	background: #FFF;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxBusca #cxLetra a {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	background: #FFF;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
	text-align: center;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxDesc {
	width: 665px;
	float: left;
	margin: 20px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxDesc #Tit {
	width: 665px;
	height: 20px;
	float: left;
	margin: 0 0 5px 0;
	font-size: 16px;
	font-family: Calibri;
	color: #FF5800;
}

#mainConteudo #conteudo #home_COL2 #contServ #cxDesc #Text {
	width: 665px;
	float: left;
	margin: 0 0 10px 0;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
}

/* CONTEUDO QUEM SOMOS (INTERNAS) */
#mainConteudo #conteudo #home_COL2 #contQuem {
	width: 645px;
	float: left;
	/*margin: 10px 0 0 0;*/
	background-color: #fff;
	margin: 10px auto 0px auto;
	/* box-shadow: deslocamentoLateral deslocamento vertical espalhamento cor*/
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_COL2 #contQuem #Tit {
	width: 665px;
	height: 20px;
	float: left;
	margin: 0 0 0 0;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contQuem #Desc {
	width: 640px;
	float: left;
	margin: 10px 0 0 0;
	font-size: 14px;
	font-family: Calibri;
	color: #333;
}

/* CONTEUDO PAREIROS (INTERNAS) */
#mainConteudo #conteudo #home_COL2 #contParc {
	width: 665px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contParc #Tit {
	width: 665px;
	height: 20px;
	float: left;
	margin: 0 0 0 0;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contParc #cxDesc {
	width: 320px;
	height: 100px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contParc #cxDesc #foto {
	width: 120px;
	height: 90px;
	float: left;
	margin: 5px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contParc #cxDesc #text {
	width: 190px;
	float: left;
	margin: 10px 0 0 10px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

/* CONTEUDO NOTICIAS (INTERNAS) */
#mainConteudo #conteudo #home_COL2 #contHm {
	width: 645px;
	float: left;
	/*margin: 10px 0 0 0;*/
	background-color: #fff;
	margin: 10px auto 0px auto;
	/* box-shadow: deslocamentoLateral deslocamento vertical espalhamento cor*/
	box-shadow: 1px 1px 1px black;
	/*padding espaçamento*/
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainConteudo #conteudo #home_COL2 #contHm #Tit {
	width: 640px;
	float: left;
	margin: 0 0 0 0;
	font-size: 22px;
	font-family: Calibri;
	color: #017BB3;
	font-weight: bold;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont1 {
	width: 640px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont1 #tit {
	width: 640px;
	float: left;
	font-size: 22px;
	font-family: Calibri;
	color: #000;
	font-weight: bold;
	margin: 0 0 0 10px;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont1 #desc {
	width: 637px;
	float: left;
	margin: 5px 0 0 10px;
	font-size: 13px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 {
	width: 640px;
	float: left;
	margin: 10px 0 0 0;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 #hmInfo1 {
	width: 320px;
	height: 130px;
	float: left;
	margin: 0 10px 15px 0;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 #hmInfo1 #imgFT {
	width: 160px;
	height: 120px;
	float: left;
	margin: 7px 0 0 5px;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 #hmInfo1 #inf_Subti
	{
	width: 150px;
	float: left;
	margin: 5px 0 0 5px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bold;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 #hmInfo1 #inf_Text {
	width: 150px;
	float: left;
	margin: 5px 0 0 5px;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#mainConteudo #conteudo #home_COL2 #contHm #cxCont2 #hmInfo1 #inf_Btmais
	{
	width: 25px;
	float: left;
	margin: 5px 0 0 120px;
}

/* CONTEUDO COL 3 (INTERNAS)*/
#mainConteudo #conteudo #home_COL3 {
	width: 970px;
	height: 40px;
	float: left;
}

#mainConteudo #conteudo #home_COL3 #hf_pag {
	width: 400px;
	height: 15px;
	float: left;
	text-align: center;
	margin: 5px 0 0 385px;
}

#mainConteudo #conteudo #home_COL3 #hf_pag a {
	text-align: center;
}

/*ADM*/

/* FOOTER */
#geral #footer {
	float: left;
	width: 100%;
	height: 65px;
	background: url(images/bg_rodape_site.png) repeat-x;
}

#footer #conteudoFooter {
	margin: 0 auto;
	width: 1020px;
	height: 30px;
	margin-top: 20px;
}

#footer #conteudoFooter #ass {
	width: 500px;
	float: left;
	margin: 0 0 0 260px;
	text-align: center;
	font-size: 12px;
	font-family: Calibri;
	color: #333;
}

#footer #conteudoFooter #dev h4 {
	width: 500px;
	float: left;
	margin: 0 0 0 260px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-family: Calibri;
	color: #333;
}

#footer #conteudoFooter #dev a {
	text-decoration: none;
}

#footer #conteudoFooter #dev a:hover {
	text-decoration: underline;
}

.quemSomosPage {
	text-indent: 25px;
	text-align: justify;
	line-height: 20px;
}

.subtitleQuemSomos {
	margin: 10px 0px 10px 0px;
	font-size: 20px;
	font-family: Calibri;
	color: #333;
}

.tamanho-foto {
	width: 100px;
	height: 90px;
	border-radius: 8px;
}

.tamanho-foto-main-advertising {
	width: 200px;
	height: 120px;
	border-radius: 8px;
}

.advertisingBox {
	float: left;
	display: block;
	height: 120px;
	margin: 5px 5px 5px 5px;
}

.advertisingBox span {
	display: block;
	text-align: left;
}

.advertisingBoxMainAdvertising {
	float: left;
	display: block;
	height: 160px;
	margin: 5px 10px 5px 10px;
}

.advertisingBoxMainAdvertising span {
	display: block;
	text-align: left;
}

#frmCadastreMainAdvertising {
	width: 100%;
	display: block;
	clear: both;
}

#frmCadastreParceiros {
	width: 100%;
	display: block;
	clear: both;
}

.photos-of-property {
	float: left;
	display: block;
	height: 160px;
	margin: 5px 10px 5px 10px;
}

.photos-of-property a img {
	display: inline-block;
}

.tamanho-foto-property-edit {
	width: 200px;
	height: 120px;
	border-radius: 8px;
}

.faixaValue {
	display: block;
	text-align: center;
}
