<!-- FOOTER -->
    <div id="footer">
    	<div id="conteudoFooter">
        	<div id="ass"><?php echo date("Y"); ?> © Arquivo Imobiliário. Todos os direitos reservados.</div> <br />
        	<div id="dev"><h4>Developed by <a href="https://br.linkedin.com/in/joaogbsi" target="_blank">João Gabriel</a></h4></div>
        </div>	
    </div>
    <!-- /FOOTER -->