<div id="adm_COL1">
    <div id="menu">
        <div id="cxTit">Painel de Controle</div>
            <div id="cxDes"><a href="adm_index.php">-Início</a></div>
                    
            <div id="cxTit">Imóveis</div>
            <div id="cxDes">
                <a href="adm_listImovel.php">-Lista de Imóveis</a><br />
                <a href="adm_cadImovel.php">-Cadastrar Imóveis</a><br />
                <a href="adm_importXml.php">-Importar XML</a>
            </div>
            
            <div id="cxTit">Cadastro Auxiliares</div>
            <div id="cxDes">
                <p>
                    <!--<a href="adm_cadlistArea.php">-Áreas</a><br />-->
                    <!--<a href="adm_cadlistBairros.php">-Bairros</a><br />-->
                    <a href="adm_cadlistCidades.php">-Cidades</a><br />
                    <a href="adm_cadListEstado.php">-Estados</a><br />
                    <a href="adm_cadlistCarac.php">-Características</a><br />
                    <a href="adm_cadlistDetalhes.php">-Detalhes</a><br />
                    <!--<a href="adm_cadlistFaixa.php">-Faixa de Valores</a><br />-->
                    <!--<a href="adm_cadlistOpera.php">-Operações</a><br />-->
               	    <a href="adm_cadlistProxi.php">-Proximidades</a></p>
                <p>
                    
                <!--<a href="adm_cadlistTipo.php">-Tipos de Imóvel</a></p>-->
            </div>
                    
            <div id="cxTit">Cadastrar Sessões</div>
            <div id="cxDes">
               	  <p>
                        <a href="adm_cadDeco.php">-Decoração</a><br />
                        <a href="adm_cadDica.php">-Dicas</a><br />
                        <a href="adm_cadNot.php">-Notícias</a><br />
                        <a href="adm_cadTec.php">-Tecnologia</a><br />
                	<a href="adm_cadParc.php">-Propagandas</a><br />
                        <a href="adm_listUser.php">-Lista de serviços para casa </a><br />
                        <a href="adm_cadUser.php">-Cadastrar Serviços para casa </a><br />
                        <a href="adm_cadImob.php">-Imobiliárias</a>                	  
                  </p>			
            </div>
                    
<!--            <div id="cxTit">Usuário</div>
                <div id="cxDes">
                    <a href="adm_listUser.php">-Lista de Usuários</a><br />
                    <a href="adm_cadUser.php">-Cadastrar Usuário</a>
                </div>
               	<div id="cxDes">
                    <a href="?logout">-Sair do Sistema</a>
               	</div>-->
            <div id="cxTit">Sair</div>
                <div id="cxDes">
                    <a href="?logout">-Sair do Sistema</a>
               	</div>
                    
    </div>
</div>