<!-- JS Content -->
<!--				<script type="text/javascript" src ="js/jquery-1.8.3.min.js"></script>

				 includes for multiple select 
-->				<script type="text/javascript" src="js/jquery-ui.min.js"></script>
				<script type="text/javascript" src="js/jquery.multiselect.min.js"></script>
				<script type="text/javascript" src="js/jquery.validate.min.js"></script>
				<!-- end multiple select include -->

				<!-- includes for jquery price -->
				<!--<script type="text/javascript" src="js/jquery.price_format.1.7.min.js"></script>-->
				<!-- end jquery price include -->

                                <!--<script defer src="js/jquery.flexslider.js"></script>-->
                                <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
                                <!--<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>-->

				<script type="text/javascript">

				$(document).ready(function(){
					$('.price').priceFormat({
					    prefix: '',
					    centsSeparator: '.',
					    thousandsSeparator: ''
					});
					//muti select in propertyType:
					$("#type").multiselect({
						noneSelectedText: 'Tipo',
						selectedText: 'Tipo',
						selectedList: 4,
						checkAllText: 'Marque todos',
						uncheckAllText: 'Desmarque todos',
                                                minWidth:   180
					});
					$("#neighborhood").multiselect({
						header: "Bairros",
						noneSelectedText: 'Bairros',
						selectedList: 4,
						checkAllText: 'Marque todos',
						uncheckAllText: 'Desmarque todos',
                                                minWidth:   180
					});

					var itens = document.getElementById('itens').getElementsByTagName('li');
					for(var i =0; i < itens.length; i++){
						itens[i].firstChild.addEventListener('click', changeStyle);
					}

					function changeStyle(event){
						for(var i =0; i < itens.length; i++){
							itens[i].firstChild.className = "";
						}
						event.target.className = "current";
					}

					$('#de').datepicker(
					{
						dateFormat: 'dd/mm/yy',
						dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'
						],
						dayNamesMin: [
						'D','S','T','Q','Q','S','S','D'
						],
						dayNamesShort: [
						'Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'
						],
						monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
						'Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
					}
					);
					$('#ate').datepicker(
					{
						dateFormat: 'dd/mm/yy',
						dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'
						],
						dayNamesMin: [
						'D','S','T','Q','Q','S','S','D'
						],
						dayNamesShort: [
						'Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'
						],
						monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
						'Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
					}
					);

				//combodinamico

				$('input[name=statusProperty][value=1], input[name=statusProperty][value=2]').change(function(){
					if(!$('input[name=statusProperty][value=3]', '#status').is(':checked')){
						$('#period').css({'visibility' : 'hidden'});
						$('#period-ate').css({'visibility' : 'hidden'});
						$('#content #content_property').css({'height':'410px'})
					}
				});

				$('input[name=statusProperty][value=3]').change(function(){
					if($('input[name=statusProperty][value=3]').is(':checked')){
						$('#period').css({'visibility' : 'visible'});
						$('#period-ate').css({'visibility' : 'visible'});                                                
                                                $('#content #content_property').css({'height':'580px'})
					}
				});
				// Call the neighborhood for the first time.
				getCitiesByNeighborhood($('select[name="city"]').val());
				// Bind change event on the cities select to change neightborhood when
				// city is change.
				$('select[name="city"]').change(function(){
					$('select[name="neighborhood[]"]').html("<option value=0>Carregando...</option>");
					getCitiesByNeighborhood($(this).val());
				});
});

function getCitiesByNeighborhood(city){
	$.getJSON("action/district.action.php",
		{city:city},
		function(valor){
			$("#neighborhood").html('');
			if(valor!=null){
				$.each(valor, function(k, v){
					var opt = new Option(v,v);
					$("#neighborhood").append(opt);
				});
			}
			$("#neighborhood").multiselect("refresh");
		}
		);
}

//$(function(){
//      SyntaxHighlighter.all();
//    });
//    $(window).load(function(){
//      $('.flexslider').flexslider({
//        animation: "slide",
//        start: function(slider){
//          $('body').removeClass('loading');
//        }
//      });
//    });
</script>
