<!-- Criei esse arquivo, pois esse só não tem a imagem de logo abaixo do menu 
     usei isso aqui na página de imoveisview.php, que mostra os detalhes do 
     imóvel 
-->
    <!-- <div id="menu">
        <div id="btmenu1"><a href="quemsomos.php"><img src="images/btmenu1.png"></a></div>
        <div id="btmenu2"><a href="parceiros.php"><img src="images/btmenu2.png"></a></div>
        <div id="btmenu3"><a href="comprar.php"><img src="images/btmenu3.png"></a></div>
        <div id="btmenu4"><a href="alugar.php"><img src="images/btmenu4.png"></a></div>
        <div id="btmenu5"><a href="servicos.php"><img src="images/btmenu5.png"></a></div>
    </div> -->

    <nav id="menu">
        <ul>
         <li><a href="quemsomos.php">Quem somos</a></li>
          <li><a href="anuncie.php">Anuncie</a></li>
          <li><a href="contact.php">Fale conosco</a></li>
          <li><a href="imoveisbusca.php?offset=0&statusProperty=1&city=1&min_price=&max_price=&qtdMaxRooms=&codigo=&de=25%2F01%2F2016&ate=25%2F01%2F2016">Alugar</a></li>
          <li><a href="servicos.php">Serviços</a></li>
        </ul>
        <!-- <div id="btmenu1"><a href="quemsomos.php"><img src="images/btmenu1.png"></a></div>
        <div id="btmenu2"><a href="parceiros.php"><img src="images/btmenu2.png"></a></div>
        <div id="btmenu3"><a href="comprar.php"><img src="images/btmenu3.png"></a></div>
        <div id="btmenu4"><a href="alugar.php"><img src="images/btmenu4.png"></a></div>
        <div id="btmenu5"><a href="servicos.php"><img src="images/btmenu5.png"></a></div> -->
<!--         <div class="btmenu1"><a href="quemsomos.php">Quem somos</a></div>
        <div class="btmenu1"><a href="anuncie.php">Anuncie</a></div>
        <div class="btmenu1"><a href="imoveisbusca.php?offset=0&statusProperty=2&city=1&min_price=&max_price=&qtdMaxRooms=&codigo=&de=25%2F01%2F2016&ate=25%2F01%2F2016">Compra</a></div>
        <div class="btmenu1"><a href="imoveisbusca.php?offset=0&statusProperty=1&city=1&min_price=&max_price=&qtdMaxRooms=&codigo=&de=25%2F01%2F2016&ate=25%2F01%2F2016">Alugar</a></div>
        <div class="btmenu1"><a href="servicos.php">Serviços</a></div> -->
    </nav>
                    