    <div id="menu">
        <div id="btmenu1"><a href="quemsomos.php"><img src="images/btmenu1.png"></a></div>
        <div id="btmenu2"><a href="parceiros.php"><img src="images/btmenu2.png"></a></div>
        <div id="btmenu3"><a href="comprar.php"><img src="images/btmenu3.png"></a></div>
        <div id="btmenu4"><a href="alugar.php"><img src="images/btmenu4.png"></a></div>
        <div id="btmenu5"><a href="servicos.php"><img src="images/btmenu5.png"></a></div>
    </div>
                    
    <div id="bannerImg">
        <div id="container" class="cf" style="position: relative;">
    

            <div id="main" role="main" style="width:664px;">
          <section class="slider">
            <div class="flexslider">
              <ul class="slides">
                <li>
                    <img  width="670" height="300" src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                        <img src="images/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                        <img src="images/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                        <img src="images/kitchen_adventurer_caramel.jpg" />
                            </li>
              </ul>
            </div>
          </section>

        </div>

        </div>
        
    </div>