<div id="btIcons"><a href="#"><img src="images/bt_home.png" /></a></div>
<div id="btIcons"><a href="http://facebook.com/arquivoimobiliario" target="_blank"><img src="images/bt_face.png" /></a></div>
<div id="btIcons"><a href="#"><img src="images/bt_pesquisa.png" /></a></div>
<div id="btIcons"><a href="contact.php"><img src="images/bt_email.png" /></a></div>
