<h2>Clientes</h2>
<div ng-init="loadAll()">
	<div a href='#/clientes/new' class="pull-right">Novo</div>
	<table id="tableData" class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th width="10%">Id</th>
				<th>Nome</th>
				<th>Fone</th>
				<!-- <th width="10%"></th> -->				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows | startFrom: currentPage*pageSize| limitTo: pageSize">
				<td>{{row.costumerId}}</td>
				<td><a href='#/cliente/{{row.costumerId}}'>{{row.costumer.contactName}}</a></td>
				<td>{{row.phone}}</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="currentPge=currentePage-1" ng-disable="currentPage ==0">&larr; Voltar</button>
	<button class="btn btn-primary pull-right" ng-click="currentPage = currentePage+1" ng-disable="currentPage >= rows.lenght/pageSize -1">Avançar &rarr; </button>
</div>