<h2>Cliente</h2>
<div ng-controller="clientesController" ng-init="loadRow()">
	<form ng-submit="save()" class="form-horizontal" ng-show="row!=null">
		<div class="control-group">
			<label class="control-label">ID:</label>
			<div class="controls">
				<input type="text" ng-model="row.costumerId" class="input-small" required ng-disbled="row.isUpdate" />
			</div>
		</div>
		<div class="control-group">
			<label class="cotrol-label">Nome:</label>
			<div class="controls">
				<input type="text" ng-model="row.contactName" class="input-xxlarge" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Telefone:</label>
			<div class="controls">
				<input text="text" ng-model="row.phone" />
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a href="#/clientes" class="btn">Voltar</a>
		</div>
	</form>
	<button class="btn btn-danger pull-right" ng-click="del()">Apagar</button>
</div>